<h3>Make a donation</h3>
<%= form_tag("/donations/charges", method: :post, class: "donation-form") do %>
  <!-- Donation amount -->
  <div class="form-group">
    <label for="charge[amount]">
      Donation
    </label>
    <select name="charge[amount]" class="form-control">
      <%= (0..4).map {|i| 10 * 2**i }.each do |amount| %>
        <option value="<%= amount * 100 %>"><%= number_to_currency(amount, precision: 0) %></option>
      <% end %>
    </select>
  </div>

  <!-- Credit card details -->
  <div class="form-group cc-details">
    <input type="text" class="form-control cc-number" size="20" data-stripe="number" placeholder="Card number" />
    <input type="text" class="form-control cc-cvc" size="20" data-stripe="cvc" placeholder="CVC" />
    <input type="text" class="form-control cc-exp" data-stripe="exp" placeholder="MM / YY">
  </div>

  <!-- Donor information -->
  <div class="form-group">
    <label for="donor[email]">
      Email
    </label>
    <input type="email" class="form-control" name="donor[email]" placeholder="edward.snowden@eff.org" %>
  </div>

  <div class="form-group">
    <label for="donor[name]">
      Name
    </label>
    <input type="text" class="form-control" name="donor[name]" placeholder="Edward Snowden" %>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="donor[anonymous]"> I wish to be anonymous
    </label>
  </div>

  <div class="form-group">
    <%= button_tag "Donate", {class: "btn btn-primary"} %>
  </div>

<% end %>
