<h3>Make a donation</h3>

<script src="https://checkout.stripe.com/checkout.js"></script>

<%= render "notices" %>

<%= form_tag("/donations/charges", method: :post, class: "donation-form") do %>
  <div class="form-group amount">
    <label for="charge[amount]">
      Donation
    </label>
    <%= select_amount('charge[amount]') %>
  </div>

  <div class="form-group">
    <label for="donor[email]">
      Email
    </label>
    <input type="email" class="form-control" name="donor[email]" placeholder="edward.snowden@eff.org" %>
  </div>

  <div class="form-group">
    <label for="donor[name]">
      Name
    </label>
    <input type="text" class="form-control" name="donor[name]" placeholder="Edward Snowden" %>
  </div>

  <%= hidden_field_tag("charge[token]") %>
  <%= hidden_field_tag("charge[amount]") %>
  <div class="form-group">
    <%= button_tag "Donate", {class: "btn btn-primary"} %>
  </div>
<% end %>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.application.secrets.stripe_api_key %>',
    image: '<%= image_url("noisebridge_logo.jpg") %>',
    token: function(token) {
      $('form.donation-form input[name="donor[email]"]').val(token.email);
      $('form.donation-form input[name="charge[token]"]').val(token.id);
      $('form.donation-form input[name="charge[amount]"]').val(donationAmountInDollars());
      $('form.donation-form').submit();
      debugger;
    }
  });

  function donationAmountInCents() {
    if ($("form.donation-form select").val() == "other") {
      return parseInt($('form.donation-form .custom-amount input').val()) * 100;
    } else {
      return parseInt($("form.donation-form select").val()) * 100;
    }
  };

  function donationAmountInDollars() {
    return donationAmountInCents() / 100;
  };

  $('form.donation-form .btn').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Noisebridge',
      email: $("form.donation-form input[name='donor[email]']").val(),
      description: "$" + donationAmountInDollars() + " donation",
      zipCode: true,
      amount: donationAmountInCents(),
      bitcoin: true
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>

<script id="donation-form-custom-amount" type="text/html">
  <div class="input-group custom-amount">
    <span class="input-group-addon">$</span>
    <input type="text" name="charge[amount]" class="form-control" inputmode="number" aria-label="Amount (to the nearest dollar)">
    <span class="input-group-addon">.00</span>
  </div>
</script>
