<div class="row">
  <div class="col-md-8 col-md-offset-2 donation-header">
    <%= link_to root_url do %>
      <%= image_tag('noisebridge_logo.jpg', class: 'center noisebridge_logo') %>
    <% end %>
    <h3>Donate Now! Keep Noisebridge Hackespace Alive in San Francisco!!</h3>
    <p>Our lease, at 2169 Mission Street, is up in August and the landlord has told us that it won't be renewed. That throws us into a crunch to find and fund a new space, and move all of our blinky stuff and well-loved tools before August. We're raising money to fill a war-chest to allow us to afford our new space and cover expenses.</p>
    <p>Since we last moved, rents for our type of space have almost tripled.  We're looking at several options for an accessible, industrial space close to public transit, but it's clear that whichever we choose, we're going to have to deal with a significant rent increase. </p>
    <p>Any donations to Noisebridge are tax deductible as we are a 501(c)(3). Please consider signing up for a monthly donation, reoccuring revenue is the best way to keep us afloat. </p>
    <p>PS. If you have a lead on a cheap industrial space near transit, please let us know ( secretary@noisebridge.net ). Also, if you, or an organization you are a part of would like to discuss a larger donation or loan that could help us buy a building and ensure a permanent home for Noisebridge, please get in contact!</p>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-4 col-md-offset-2 donation-form">
      <%= render "donation_form" %>
    </div>

    <div class="col-md-4 clo-md-offset-2 summary">
      <div class="table-container">
        <%= render "recent_donations" %>
      </div>

      <div class="table-container">
        <%= render "current_projects" %>
      </div>
    </div>
  </div>
</div>
