<div class="row">
  <div class="col-md-8 col-md-offset-2 donation-header">
    <%= link_to root_url do %>
      <%= image_tag('noisebridge_logo.jpg', class: 'center noisebridge_logo') %>
    <% end %>
    <h3>Noisebridge: a hackerspace needs your help!</h3>
  </div>
</div>

<% if @project.fundraising_goal? %>
  <div class="col-md-6 col-md-offset-3 donation-progress">
    <%= render partial: "progress_bar", locals: { amount: @project.amount_raised, total: @project.fundraising_goal } %>
  </div>
<% end %>

<div class="row">
  <% if @should_render_partial %>
    <div class="col-md-6 col-md-offset-1 donation-form">
      <%= render partial: @name %>
    </div>

    <div class="col-md-4 donation-form">
      <%= render("project_donation_form", project: true) %>
    </div>
  <% else %>
    <div class="col-md-4 col-md-offset-4 donation-form">
      <%= render("project_donation_form", project: true) %>
    </div>
  <% end %>
</div>
