<!DOCTYPE html>
<html>
<head>
  <title>NoisebridgeDonate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'bootstap.min' %>
  <%= javascript_include_tag 'bootstap.min' %>

  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <script type="text/javascript">
    Stripe.setPublishableKey("<%= Rails.application.secrets.stripe_api_key %>");
  </script>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>

